@use '../variables' as *;
@use '../base/typography' as *;
@use "sass:color";

.app-button {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.25s ease;
  user-select: none;
  cursor: pointer;
}

/* Варианты кнопок */
.app-button.primary {
  width: $button-width;
  height: $button-height;
  padding: $padding-md $padding-sm;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;

  @extend .text-h4;

  background-color: $color-headline;
  color: white;

  &:disabled,
  &.loading {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.app-button.primary:hover:not(:disabled):not(.loading) {
  background-color: color.scale($color-headline, $alpha: -25%);
}

.app-button.primary:active:not(:disabled):not(.loading) {
  background-color: $color-background-2;
}

.app-button.disabled {
  background-color: $color-background-2;
  color: white;
}

/* Кнопка загрузки */
.app-button.upload {
  column-gap: 8px;
  width: fit-content;
  padding: calc($spacing-sm * 1.25);  
  border-radius: calc($border-radius-md / 1.5);

  background-color: $color-background-1;

  @extend .text-h3;
  color: $color-background-2;
}

.app-button.upload:hover {
  background-color: color.scale($color-background-1, $alpha: -25%);
}

.app-button.upload:active {
  background-color: $color-background-1;
  color: $text-color-primary;
}