@use '../variables' as *;
@use '../base/typography' as *;

.app-input {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .input-wrapper {
    position: relative;
    width: 100%;
  }

  input {
    border: 1px solid $border-color;
    border-radius: $border-radius-md;
    background-color: transparent;

  }

  // --- Обычные инпуты ---
  input.text-input {
    width: $input-width;
    height: $input-height;
    padding: $padding-md $padding-sm;

    outline: none;
    transition: border-color 0.2s ease;

    &::placeholder {
      color: $text-color-primary;
      opacity: 0.5;
    }
  }

  .app-input.error input.text-input {
    border-color: $color-error;
  }

  .error-message {
    @extend .text-h6;
    color: $color-error;
    margin-top: $spacing-sm;
    text-align: left;
  }

  // --- Диапазон дат ---
  input.daterange-input {
    width: 253px;
    height: 37px;
    padding: 15px;
    padding-left: 40px;

    border: none;
    color: #271F12
  }

  &.calendar-green {

    input.daterange-input,
    input.daterange-input::placeholder {
      color: $color-background-2;
      background-color: $color-background-1;
    }

    .calendar-icon svg path {
      color: $color-background-2;
    }

    .date-picker-popup {
      background-color: $color-background-1;
      color: $color-background-2;
    }
    
    :deep(.vc-title),
    :deep(.vc-weekday),
    :deep(.vc-arrow svg) {
      color: $color-background-2 !important;
    }
  }
}



.eye,
.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}