@use '../variables' as *;
@use '../base/typography' as *;
@use "sass:color";

.data-table__wrapper {
    display: block;
    width: 710px;
    margin-left: 50px; //удалить
}

.data-table__scroll {
    display: block;
    width: 716px;
    max-height: calc(7 * 44px);
    overflow-y: auto;
    scrollbar-gutter: stable;
    margin-left: 50px; //удалить
}

.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    @extend .text-h4;
}

.head {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.data-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.data-table thead th {
    text-align: left;
    padding: calc($spacing-xs * 2.5) calc($spacing-xs * 3);
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    min-width: 120px;
    vertical-align: middle;
}

.data-table thead th:last-child {
    border-right: none;
}

.data-table tbody tr {
    height: 44px;
}

.data-table td {
    padding: 10px 14px;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    vertical-align: middle;
    position: relative;
    min-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table tr td:last-child {
    border-right: none;
}

.data-table thead tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

.data-table thead tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

.data-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

.data-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.cell-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cell-text {
    display: inline-block;
}

.cell-text:empty,
.cell-text--placeholder {
    color: gray;
    font-style: normal;
}

/* выравнивание для столбца file */
.data-table td:nth-child(1) {
    min-width: 210px;
}

/* hover эффект для строк */
.data-table tbody tr:hover {
    background: rgba(0, 0, 0, 0.06);
}

.data-table__scroll::-webkit-scrollbar {
    width: 6px;
}

.data-table__scroll::-webkit-scrollbar-track {
    background: $border-color;
}

.data-table__scroll::-webkit-scrollbar-thumb {
    background: $color-background-2;
    border-radius: 4px;
    border: 1px solid transparent;
    background-clip: content-box;
}

.data-table.green {

    thead,
    tbody {
        background: $color-background-1;
        color: $color-background-2;
    }
}

.data-table.default {

    thead,
    tbody {
        background: $color-background-2;
        color: $text-color-primary;
    }
}