// main.scss

// 1. Сброс и базовые стили
@use './base/reset';
@use './base/fonts';
@use './base/typography';

// 3. Компоненты UI (можно вынести в отдельный файл, но пока так)
@use './components/input';
@use './components/button';
@use './components/label';

// 4. Макеты (layout)
