// ЦВЕТА
$color-background-1: #5b6945;
$color-background-2: #f4eddb;
$color-warning: #ffa726;
$color-error: #ef5350;
$color-headline: #e17c54;

// SIZES
$button-width: 366px;
$button-height: 43px;
$input-width: 366px;
$input-height: 37px;
$padding-md: 16px;
$padding-sm: 8px;
$border-color: #271f12;
$border-radius-md: 12px;

// Отступы
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;